# Rust
target/
++/target/
**/*.rs.bk
Cargo.lock

#Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

#Docker & Infra
.env
*.log
data/
mosquitto/data/
mosquitto/log/

#IDEs
.vscode/
.idea/
.DS_Store

# Databases
/data/*.db
/data/*.db-journal
/data/*.db-shm
/data/*.db-wal